*{
    margin: 0;
    padding: 0;
}

#container{
    max-width: 300px;
    background-color: lightblue;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
}

button{
    width: 100%;
    background-color: gray;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

p{
    margin-bottom: 5px;
}